# Python Tutorial:

# Basic Data types

In [4]:
1+1

2

In [5]:
4*5

20

In [6]:
2*10

20

In [7]:
10/5

2.0

In [8]:
10%4

2

In [9]:
10**2

100

In [11]:
10 * 'Beauty '

'Beauty /nBeauty /nBeauty /nBeauty /nBeauty /nBeauty /nBeauty /nBeauty /nBeauty /nBeauty /n'

In [12]:
type(10.0)

float

In [13]:
type(True)

bool

In [14]:
type('Hello')

str

# Variable assignment

In [15]:
a=10

In [20]:
b,c=5,8

In [22]:
print(a*b)
print(a/b)
print(a%b)

10
0.4
2

# Various ways of printing

In [23]:
print("Hello")

Hello

In [24]:
first_name='Azhaku'
last_name='durai'

In [25]:
print("My first name is {} and last name is {}".format(first_name,last_name))

My first name is Azhaku and last name is durai

In [26]:
print("My first name is {first} and last name is {last}".format(first=first_name,last=last_name))

My first name is Azhaku and last name is durai

# Bool functions

In [4]:
bool()

False

In [5]:
bool(1)

True

In [6]:
type(True)

bool

# string functions Inbuild functions

In [28]:
my_str="Azhaku333"

In [41]:
print(my_str.isalnum())  #check if all char are numbers
print(my_str.isalpha())  #check if all char in the string are alphabetic
print(my_str.istitle())  #check if string contains title words(capital letter)
print(my_str.isupper())  #check if string contains upper case
print(my_str.islower())  #check if string contains lower case
print(my_str.endswith("K"))  #test if string endswith K
print(my_str.startswith("K"))   #test if string startswith K

True
False
True
False
False
False
False

# Logical operators

In [42]:
True and True

True

In [43]:
True and False

False

In [44]:
True or False

True

In [45]:
False or False

False

In [50]:
str_example='hello world'
my_str.istitle() or str_example.isalnum()

True

# #Data types
   - list
   - dictionary
   - set
   - tuple

# Lists:
   A list is a data structure in python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a listis called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [].

In [52]:
type([])

list

In [51]:
list_item=[]

In [53]:
type(list_item)

list

In [54]:
lst=['mathematics','Chemistry',100,200,300,204]

In [55]:
len(lst)

6

In [56]:
type(lst)

list

# Append

In [57]:
lst.append('beauty')

In [58]:
lst

['mathematics', 'Chemistry', 100, 200, 300, 204, 'beauty']

In [59]:
##Indexing in list
lst[2]

100

In [61]:
lst[-2]

204

In [62]:
lst[:]

['mathematics', 'Chemistry', 100, 200, 300, 204, 'beauty']

In [64]:
lst[3:-1]

[200, 300, 204]

# Insert

In [65]:
## Insert in a specific position

lst.insert(1,"azhaku")

In [66]:
lst

['mathematics', 'azhaku', 'Chemistry', 100, 200, 300, 204, 'beauty']

# Extend Method

In [73]:
## extend method adds the items into the list seperately without creating a nested list

lst=[1,2,3,4,5,6,7]

In [74]:
lst.extend([8,9,10])

In [75]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Other functions

In [76]:
## sum of list

sum(lst)

55

In [77]:
## removing a element from a list using pop()

lst.pop()

10

In [78]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [79]:
lst.pop(0)

1

In [80]:
lst

[2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
## count() - Counts the no.of occurrence of a item in list

lst=[1,1,1,0,1,0,0,1,0,1]
lst.count(1)

6

In [83]:
## index() it used to find where its first located

lst.index(1)

0

In [85]:
lst.index(0,0,8)

3

In [89]:
## Min and Max function in the list
lst=[1,2,3,4,5,6,7]

min(lst)

1

In [90]:
max(lst)

7

# SETS
A set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set. This is based on a data structure known as a hash table.

In [95]:
##  Defining an empty set
set_var=set()
print(set_var)
type(set_var)

set()

set

In [97]:
sset={1,1,2,3,4,5}

In [98]:
sset

{1, 2, 3, 4, 5}

In [100]:
sset={'Avengers',"Thor","Ironman"}
print(sset)
type(sset)

{'Thor', 'Avengers', 'Ironman'}

set

In [101]:
## Sets does not support indexing

In [102]:
sset.add('Hulk')

In [103]:
sset

{'Avengers', 'Hulk', 'Ironman', 'Thor'}

In [118]:
set1={"Avengers","Thor","Ironman"}
set2={"Avengers","Thor","Ironman","Caption Marvel"}

In [119]:
set2.intersection(set1)

{'Avengers', 'Ironman', 'Thor'}

In [120]:
set2.union(set1)

{'Avengers', 'Caption Marvel', 'Ironman', 'Thor'}

In [121]:
set2.difference(set1)

{'Caption Marvel'}

In [122]:
set2.difference_update(set1)

In [123]:
set2

{'Caption Marvel'}

In [126]:
set1={"Avengers","Thor","Ironman"}
set2={"Avengers","Thor","Ironman","Caption Marvel"}

In [127]:
set2.intersection_update(set1)

In [128]:
set2

{'Avengers', 'Ironman', 'Thor'}

# Dictionaries:
   A dictionary is a collection which is unordered, changeable and indexed. In python dictionaries are written with curly brackets and they have keys and values.

In [129]:
## Creating a empty list
dic={}

In [130]:
type(dic)

dict

In [131]:
## value does not have a key value pairs are considered as a set
dic={1,12,3,4,5,5}

In [132]:
type(dic)

set

In [134]:
## create a item with key value pair(dictionary creation)

my_dict={'Car1':"Audi",'Car2':"BMW",'Car3':"Mercidies Benz"}

In [135]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz'}

In [136]:
type(my_dict)

dict

In [137]:
## Indexing can be done with the help of keys
my_dict['Car1']

'Audi'

# Loops in dictionaries

In [138]:
for x in my_dict:
    print(x)

Car1
Car2
Car3

In [139]:
for x in my_dict.keys():
    print(x)

Car1
Car2
Car3

In [140]:
for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [141]:
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

# Adding new elements

In [142]:
my_dict["Car4"]='Maruthi'

In [143]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'Car4': 'Maruthi'}

In [144]:
## inserting a new value for same key
my_dict['Car1']="Audi 2.0"

In [145]:
## Inserting a same key will considered as updation
my_dict

{'Car1': 'Audi 2.0',
 'Car2': 'BMW',
 'Car3': 'Mercidies Benz',
 'Car4': 'Maruthi'}

# Nested Dictionary

In [147]:
car1_model={"Mercedes":1960}
car2_model={"Audi":1970}
car3_model={"Ambassador":1980}

car_type={"car1":car1_model,"car2":car2_model,"car3":car3_model}

In [148]:
car_type

{'car1': {'Mercedes': 1960},
 'car2': {'Audi': 1970},
 'car3': {'Ambassador': 1980}}

In [149]:
## Accessing the items in the dictionary

print(car_type["car1"])

{'Mercedes': 1960}

In [150]:
print(car_type['car1']['Mercedes'])

1960

# #Tuple:

In [151]:
type(())

tuple

In [152]:
type(tuple())

tuple

In [159]:
my_tuple=('beauty','kutty','naveen')
print(my_tuple)

('beauty', 'kutty', 'naveen')

In [160]:
## In tuple, you can't update items inside it,but you can replace it  
## with a new items fully. eg,

my_tuple[0]='azhaku'

TypeError: 'tuple' object does not support item assignment

In [161]:
my_tuple

('beauty', 'kutty', 'naveen')

In [162]:
my_tuple="azhaku"

In [163]:
my_tuple

'azhaku'