# Pandas
 - Data Frame 
 - Data series
 - Accessing methods

In [1]:
import pandas as pd
import numpy as np

In [3]:
## Creating a random dataframe

df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=("Row1","Row2","Row3","Row4","Row5"),columns=("column1","column2","column3","column4"))

In [4]:
df.head()

      column1  column2  column3  column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [6]:
df.to_csv('dataframe_pandas_yt.csv')

In [10]:
## Accessing methods in pd
## 1. .loc(only row)    2. .iloc(index location)  3. with name of Row x Col
df.loc['Row1']

column1    0
column2    1
column3    2
column4    3
Name: Row1, dtype: int64

In [16]:
type(df.iloc[:2,:2])

pandas.core.frame.DataFrame

In [17]:
type(df.loc['Row1'])

pandas.core.series.Series

# Convert Dataframe into array

In [21]:
df.iloc[1:3,:2]

      column1  column2
Row2        4        5
Row3        8        9

In [23]:
df.iloc[1:3,:2].values

array([[4, 5],
       [8, 9]])

In [24]:
df.isnull().sum()

column1    0
column2    0
column3    0
column4    0
dtype: int64

In [26]:
df.count()

column1    5
column2    5
column3    5
column4    5
dtype: int64

In [30]:
df['column3'].unique()

array([ 2,  6, 10, 14, 18])

In [33]:
##Access multiple columns with names
df[['column1','column2']]

      column1  column2
Row1        0        1
Row2        4        5
Row3        8        9
Row4       12       13
Row5       16       17